<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="images/chernov-consulting-logo-small.png"
                                                                        alt="Chernov Consulting Logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#principles">Principles</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masterhead -->
<header class="masterhead">
    <div class="container d-flex h-50 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto mt-5 mx-5">CHERNOV<br></h1>
            <h2 class="mx-auto text-muted text-uppercase mt-4 mx-5">CONSULTING</h2>
        </div>
    </div>
</header>
<!-- About -->
<section class="about-section text-center py-3 my-5" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead">We are a team of passionate and highly experienced engineers and leaders, driven
                    by our shared principles to provide best-in-class consulting services for our customers and partners.
                </p>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="card m-3 p-3" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center m-4"><i class="fas fa-brain fa-5x"></i></div>
                    <div class="d-flex justify-content-center"><h4 class="card-title">ML | AI</h4></div>
                    <p class="card-text text-center">Production grade end2end pipelines</p>
                </div>
            </div>
            <div class="card m-3 p-3" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center m-4"><i class="fas fa-cloud fa-5x"></i></div>
                    <div class="d-flex justify-content-center"><h4 class="card-title">Cloud | Big Data</h4></div>
                    <p class="card-text text-center">High scale storage, processing and analytics</p>
                </div>
            </div>
            <div class="card m-3 p-3" style="max-width: 20rem;">
                <div class="card-body">
                    <div class="d-flex justify-content-center m-4"><i class="fas fa-cogs fa-5x"></i></div>
                    <div class="d-flex justify-content-center"><h4 class="card-title">ML | Dev Operations</h4></div>
                    <p class="card-text text-center">Streamlined experimentation and development</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Principles -->
<section class="principles-section bg-light py-5" id="principles">
    <div class="container py-5">
        <div class="row justify-content-center no-gutters mb-4 mb-lg-5 pb-5">
            <div class="col-xl-4 col-lg-5">
                <div class="text-center">
                    <h2>Our values</h2>
                    <p class="text-black-50 mb-0">We are company of exceptional people. These principles make us stand
                        out of the crowd.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <div class="principle">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Be cool</h4>
                            <p>Exceptional people are neither ordinary nor dull. They strive to find a niche for their unique abilities and work to inspire others.</p>
                            <figure class="text-end">
                                <blockquote class="blockquote text-right">
                                    <p class="mb-0">If you've gotta think about being cool, you ain't cool.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer text-right">Keith Richards</figcaption>
                            </figure>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="principle principle-alt">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Move fast</h4>
                            <p class="mb-0">Exceptional people focus on progressing towards set business goals in small
                                iterations. This allows to be flexible and change direction where needed while keeping
                                sporty, but enduring pace.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <div class="principle principle-alt">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Balance</h4>
                            <p class="mb-0">Exceptional people know that almost every hard decision is an act of
                                balance. That's why we ride the wave!</p>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="principle">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Elevate quality</h4>
                            <p>Exceptional people have very high standards. They shape high quality
                                products, services and processes with exceptional, often unexpected quality.</p>
                            <figure class="text-end">
                                <blockquote class="blockquote text-right">
                                    <p class="mb-0">My tastes are simple: I am easily satisfied with the best.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer text-right">Sir Winston S. Churchill</figcaption>
                            </figure>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <div class="principle">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Always learn</h4>
                            <p>Exceptional people are never done learning and always seek self improvement.</p>
                            <figure class="text-end">
                                <blockquote class="blockquote text-right">
                                    <p class="mb-0">There is only one good—knowledge, and one evil—ignorance.</p>
                                </blockquote>
                                <figcaption class="blockquote-footer text-right">Socrates</figcaption>
                            </figure>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="principle principle-alt">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4>Build trust</h4>
                            <p class="mb-0">Exceptional people are honest with themselves and others. They value the
                                strength of people's relationships over robustness of systems. They try to be helpful,
                                instead of trying to be right.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Contacts -->
<section class="contact-section bg-black py-5" id="contacts">
    <div class="container">
        <div class="row text-center justify-content-center pt-5">
            <div class="col-md-4">
                <h4>Chernov Consulting OÜ</h4>
                <p>Tartu County Court Registration Department<br>16023463<br>VAT&nbsp;EE102315583</p>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-md-4">
                <p><i class="fas fa-mobile-alt m-2"></i><a href="tel:+37253771831">+372&nbsp;53771831</a></p>
                <p>Tornimäe&nbsp;tn&nbsp;7-26<br>10145&nbsp;Tallinn</p>
                <p><i class="fas fa-envelope m-2"></i><a href="mailto:info@chernov.io">info@chernov.io</a></p>
            </div>
        </div>
        <div class="social d-flex justify-content-center pt-5 pb-3">
            <a class="mx-2" href="https://www.linkedin.com/company/chernov-consulting"><i
                    class="fab fa-linkedin-in"></i></a>
            <a class="mx-2" href="https://github.com/organizations/chernov-consulting"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50 pb-5">
    <div class="container">&copy;&nbsp;2021&nbsp;Chernov&nbsp;Consulting. All&nbsp;rights&nbsp;reserved.</div>
</footer>
